/** Font Families **/
$font-family-base: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-header: 'Impact', 'Open Sans', Arial, sans-serif;

/** Colors **/
$color-font-body: #555;
$heading-color: #0071b3;

/** Vertical Rythm **/
$base-font-size: 16px;
$base-line-height: 24px;
$font-size-h1: $base-font-size * 2;
$font-size-h2: $base-font-size * 1.8;
$font-size-h3: $base-font-size * 1.6;
$font-size-h4: $base-font-size * 1.4;
$font-size-h5: $base-font-size * 1.2;
$font-size-h6: $base-font-size;